{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="מכירה והתקנה של מטענים לרכבים חשמליים">
    <meta name="keywords" content="עמדת טעינה, רכב חשמלי, מכירת מטענים, התקנת עמדות">
    <meta name="author" content="A - Power">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A - Power</title>
    <link rel="stylesheet" href="{% static 'shop/css/apwrWelcome.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/apwrStd.css' %}">

</head>
<body>
{{ csrf_token|stringformat:"s"|json_script:"csrf-token" }}
    <header id="hdrMainId">
        <section class="hdrSecLeft" id="hdrBlk1Id">
            <a href="/" class="hdrPar" id="topHdrId">A - Power</a>
        </section>
    </header>

    <section class="row" id="row1Id">
        <div class="centerCont" id="row1CenterId">
        </div>
    </section>


<script>
    // loginPageURL setup
    const LOGIN_PAGE_URL = "{% host_url 'loginPageURL' host 'mng' %}";
</script>
</body>
</html>

<script src="{% static 'shop/js/apwrMain.js' %}"></script>
<script src="{% static 'shop/js/apwrmng.js' %}"></script>
