{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="מכירה והתקנה של מטענים לרכבים חשמליים">
    <meta name="keywords" content="עמדת טעינה, רכב חשמלי, מכירת מטענים, התקנת עמדות">
    <meta name="author" content="A - Power">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/css/apwrWelcome.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/apwrStd.css' %}">
    <script src="https://kit.fontawesome.com/c42fc0c0f4.js" crossorigin="anonymous"></script>

    <title>A - Power</title>

</head>
<body>
{{ csrf_token|stringformat:"s"|json_script:"csrf-token" }}
<header id="hdrMainId">
        <section class="hdrSecLeft" id="hdrBlk1Id">
            <a href="/" class="hdrPar" id="topHdrId">A - Power</a>
        </section>
        <!--
        <section class="hdrSecLeft" id="hdrBlk2Id">
            <p class="hdrPar" id="hdrCellId">052 - 7088577</p>
        </section>
        -->
        <!--
        <section>
            <button id="mngMyAccountId" onclick="mngtst()">נהל את החשבון</button>
        </section>
        -->
        <!--
        <section class="hdrSecRight" id="hdrBlk3Id">
            <div id="hdrPar1Id">טעינת רכב חשמלי</div>
            <div id="hdrPar2Id">מכירה, התקנה ורישוי עמדות</div>
        </section>
        -->
        <!--
        <a href="/apwrMang"><div class="hamIcon" >-</div>
        </a>
        -->
    </header>
    <!-- <section class="row" id="row1Id">
        <div class="centerCont" id="row1CenterId">
            <div class="row1ParWrap" id="row1ParId">
                <p class="row1Par" style="font-weight: bold">אספקת עמדות טעינה בהתאמה לצרכי הלקוח</p>
                <p class="row1Par" style="font-size: smaller">ליווי אישי מרגע ההזמנה עד גמר החיבור וההפעלה של העמדה</p>
                <p class="row1Par" style="font-size: smaller">העמדות מותאמות לגודל החיבור הזמין ומצב התשתיות באתר ההתקנה.</p>
            </div>
        </div>
    </section> -->
    <section class="row" id="row1Id">
        <div class="centerCont" id="row1CenterId">
            <div class="overlayBlock">
                <div class="row1TextWrap">
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <h1 class="stdMainHdr">
                        אצלנו ב- A-Power</br>
                        תמצאו מגוון רחב של עמדות טעינה</br>
                        ומוצרים משלימים לרכב החשמלי שלכם
                    </h1>
                    <p class="stdSecHdr">
                        לבחירתכם, ניתן לבצע רכישה עם שליח ללא תוספת עלות </br>
                        או לתאם התקנה ע"י מתקין מורשה מטעמנו
                    </p>
                    <p class="stdSmallHdr">
                        מעוניינים בשיחת ייעוץ הנדסית? </br>
                        השאירו פרטים ונציג טכני יחזור אליכם בהקדם
                    </p>

                </div>


            </div>
            <!-- <div class="blkContainer">
                <div class="inLineFrame" id="leftBlockId">
                </div> -->
                <!--

                <div class="inLineFrame" id="rightBlockId">
                    <div class="listWrap" id="listWrapId">
                        <p class="listItem">עמדות טעינה - בהתאמה אישית (7-22KW)</p>
                        <p class="listItem">עמדות של מיטב היצרנים</p>
                        <p class="listItem">התקנה מקצועית</p>
                        <p class="listItem">עד 10 תשלומים בכרטיס אשראי</p>
                    </div>
                </div>
                -->
            <!-- </div> -->

        </div>
    </section>
    <section class="row">
        <div class="centerCont" id="row2CenterId">
            <div class="itemWrap" id="itemsWrapId">

            </div>
        </div>

    </section>

    <section class="row" id="row3Id">
        <div class="centerCont" id="row3CenterId">
            <!--
            <div id="senDetailsBlk">
                <div id="senDetailsId">
                    <p id="parOfSendId">להזמנה התקשרו 052-7088577 או השאירו פרטים</p>
                </div>

                <div class="inputWrap" id="nameWrapId">
                    <input type="text" id="costumerNameId" oninput="hideNameLable()"/>
                    <label id="nameLableId" for="costumerNameId">שם</label>
                </div>

                <button class="btnTypeH" id="sendBtnId">שלח</button>
                <div class="inputWrap" id="numberWrapId">
                    <input type="text" id="costumerPhoneId" oninput="hideNumberLable()"/>
                    <label id="numberLableId" for="costumerPhoneId">מספר טלפון</label>
                </div>

            </div>
            -->


        </div>
    </section>
    <br>
    <br>
{{ pList|json_script:"items-data" }}
<script>
    const LOGIN_PAGE_URL = "/";
</script>
<script>
    // Test if it can at least find the main shop page via the hosts tag
    const TEST_URL = "{% host_url 'shop_main' host 'www' %}";
    console.log("Test URL is: " + TEST_URL);
</script>


<script src="{% static 'shop/js/apwrMain.js' %}"></script>
<script src="{% static 'shop/js/apwrWelcome.js' %}"></script>

</body>
</html>